body {
    margin: 0;
    /* cache la barre pour descendre la page */
    overflow: hidden;
}

/* taille des éléments html */
input {
    width: 5vw;
}

select {
    width: 5vw;
}

form {
    height: 16vh;
}